@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    /* background: linear-gradient(to right, #141e30, #243b55); */
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:20px;
}


body{
    color:whitesmoke;
    font-size: 1.25em;
    font-family: 'Amita', cursive;
}
.left-part{
    flex-basis: 30%;
}
.left-part> h2,p{
    text-align: center;
}
.right-part{
    flex-basis: 50%;
    display: grid;
    gap:10px;
    grid-template-columns: repeat(3,1fr) ;
    grid-auto-rows: 120px;
}

.box{
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(141, 240, 205);
    background-color: #222;
    background-blend-mode: hard-light;
    transition: 1s ease-in-out;
    cursor:pointer
}
.colspan-2{
    grid-column: span 2;
}

.rowspan-2{
    grid-row: span 2;
}

.box:nth-child(1){
    background-image: url(./assets/1.jpg);
}

.box:nth-child(2){
    background-image: url(./assets/2.jpg);
}

.box:nth-child(3){
    background-image: url(./assets/3.jpg);
}

.box:nth-child(4){
    background-image: url(./assets/4.jpg);

}

.box:nth-child(5){
    background-image: url(./assets/5.jpg);
}

.box:nth-child(6){
    background-image: url(./assets/6.jpg);
}

.box:nth-child(7){
    background-image: url(./assets/7.jpg);
}

.box:hover{
    background-color:  	#888888;
    background-position: bottom;
    box-shadow: 0 0 4px #fff;
}

#box-4:hover{
    background-position: right;
}